body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
        margin: 0;
    width: 100%;
    height: 100vh;

}

.txt-md {
    font-size: 1rem;
    padding-bottom: 1rem;
}

.txt-light {
    font-weight: 300;
}

.txt-center {
    text-align: center;
}


.btn {
    text-decoration: none;
    padding: 0.7rem;
    border-radius: 0.5rem;

}

.btn:hover {
    background-color: #f0f1f2;
    color: black;
}

.btn-cart {
    text-decoration: none;
    padding: 0.7rem;
    color: white;

}

.btn-cart:hover {
    background-color: #033c56;
}

.header {
    grid-area: header;
    background: #0083C2;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.7rem;
    color: white;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 100%;
    margin: auto 1rem;
}

.search {
    position: relative;
    width: 45%;
}

.search input[type="text"] {
    width: 100%;
    background-color: #f0f1f2;
    box-sizing: border-box;
    padding: 0.7rem 3rem;
    border-radius: 0.5rem;
    border: 0;
}

.search i {
    position: absolute;
    left: 0;
    padding: 0.7rem 1rem;
}

.search input[type="text"]:hover {
    background-color: #fff;
    border: 1px solid rgba(0, 131, 194, 0.5);
    box-shadow: 0 0 0 2px rgba(0, 131, 194, 0.1);
    outline: none;
}


.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: #d7d8da;
    border-right: 2px solid #e3e4e6;
    padding: 1rem;
    align-items: center;
}

.sidebar-products {

    list-style: none;
    width: 100%;

}

.sidebar li a {
    display: block;
    font-size: 0.8rem;
    color: black;
}


.main {
    grid-area: main;
    padding: 1rem;
    background-color: #d7d8da;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #f0f1f2;
    border-radius: 0.5rem;
    color: #4e4e4e;
    padding: 1rem;
}

.item-card:hover {
    border: 1px solid #0083C2;
    box-shadow: 0 0 0 2px rgba(0, 131, 194, 0.1);
}

.item-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.item-img {
    width: 8rem;
    height: 8rem;
    padding: 1.5rem;
    object-fit: cover;
}

.item-btn {
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    text-decoration: none;
    background-color: #0083C2;
    border: 1px solid #0083C2;
    color: white;
}

.item-btn:hover {
    background-color: #f0f1f2;
    border: 1px solid #0083C2;
    color: #000;
}

.footer {
    grid-area: footer;
    background: #0083C2;
    padding: 0.8rem;
    color: white;
}

